.about-sect1-outer-outer{
    display: block;
    height: 150vh;;
}

.about-sect1-outer-outer .about-sect1-outer {
    display: block;
    position: relative;
    background-image: url('./../images/cof55.webp');
    background-position: 100% 50%;
    background-size: 100% 162%;
    height: 89vh;
    clear:both;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-inner{
    display: block;
    height: 75vh;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-inner .about-sect1-text{
    display: block;
    position:absolute;
    top:48%;
    left:50%;
    transform: translate(-50%,-50%);
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-inner .about-sect1-text h3{
    display: block;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Cormorant', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-inner .about-sect1-text p{
    display: inline-block;
    text-align: center;
    color:#ffffff;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 3px;
  font-weight: lighter;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 25px;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-inner .about-sect1-text .btn-outer{
    display: block;
    margin:0 40%;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-inner .about-sect1-text .btn-outer .button{
    letter-spacing: 2px;
  line-height: 16px;
  font-size: 16px;
  padding: 15px 35px;
  font-family: 'Cormorant', sans-serif;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-main-outer{
    display: block;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-main-outer .about-sect1-main-inner{
    display: flex;
    justify-content: space-between;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-main-outer .about-sect1-main-inner .about-sect1-main-items-outer{
    display: block;
    width:25%;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-main-outer .about-sect1-main-inner .about-sect1-main-items-outer .img-outer{
    display: block;
    width:92%;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-main-outer .about-sect1-main-inner .about-sect1-main-items-outer .img-outer img{
    width:100%;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-main-outer .about-sect1-main-inner .about-sect1-main-items-outer .about-sect1-below-txt{
    display: block;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-main-outer .about-sect1-main-inner .about-sect1-main-items-outer .about-sect1-below-txt .title{
    display: block;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-main-outer .about-sect1-main-inner .about-sect1-main-items-outer .about-sect1-below-txt .title strong{
    color: #2d2d2d;
    font-family: 'Cormorant', sans-serif;
    font-size: 25px;
    text-align: center;
    text-transform:capitalize;
    display: block;
    letter-spacing: 1px;
    margin-top:10px;
    padding-right: 15px;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-main-outer .about-sect1-main-inner .about-sect1-main-items-outer .about-sect1-below-txt .pos{
    color: #7e7e7e;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top:10px;
    padding-right: 15px;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-main-outer .about-sect1-main-inner .about-sect1-main-items-outer .about-sect1-below-txt .about{
    display: inline-block;
    color: #7e7e7e;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
  line-height: 27px;
  text-align: center;
  margin-top:10px;
  padding:0px 30px;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-main-outer .about-sect1-main-inner .about-sect1-main-items-outer .about-sect1-below-txt .btn-outer{
    display: block;
    margin:0px 25%;
    margin-top:20px;
}

.about-sect1-outer-outer .about-sect1-outer .container .about-sect1-main-outer .about-sect1-main-inner .about-sect1-main-items-outer .about-sect1-below-txt .btn{
    display: inline-block;
    color: #7e7e7e;
    font-family: 'Cormorant', sans-serif;
    letter-spacing: 2px ;
  border-left-width: 1px ;
  border-right-width: 1px ;
  border-radius: 0px ;
  border: 1px solid #f1f1f1;
  padding: 8px 12px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}

/* About section two */

.about-sect2-outer{
    display: block;
    margin-top:50px;
}

.about-sect2-outer .container .about-sect2-upper-txt{
    display: block;
}

.about-sect2-outer .container .about-sect2-upper-txt h3{
    display: block;
    color: #7e7e7e;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Cormorant', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom:18px;
    
}

.about-sect2-outer .container .about-sect2-upper-txt h2{
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: 'Cormorant', sans-serif;
    color: #2d2d2d;
    text-transform: capitalize;
    font-weight: 400;
}

.about-sect2-outer .container .about-sect2-inner{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
    width:100%;
}

.about-sect2-outer .container .about-sect2-inner .about-sect2-items-outer{
    display: block;
    width:24%;
}

.about-sect2-outer .container .about-sect2-inner .about-sect2-items-outer .about-sect2-items-img{
    display: block;
    width:24%;
    margin:0 35%;
}

.about-sect2-outer .container .about-sect2-inner .about-sect2-items-outer .about-sect2-items-img img{
    display: block;
    width:100%;
}

.about-sect2-outer .container .about-sect2-inner .about-sect2-items-outer .about-sect2-txt{
    display: block;

}

.about-sect2-outer .container .about-sect2-inner .about-sect2-items-outer .about-sect2-txt p{
    display: block;
    text-align: center;
    color: #7e7e7e;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
  line-height: 27px;
  margin-top:20px;
}

.about-sect2-outer .container .about-sect2-inner .about-sect2-items-outer .about-sect2-txt p u{
      display: block;
    text-align: center;
    color: #7e7e7e;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
  line-height: 27px;
  text-decoration: underline;
}

/* ABOUT SECTION THREE */

.about-sect3-outer{
    display: block;
    clear: both;
    margin-top:50px;
}

.about-sect3-outer .container .about-sect3-inner{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer{
    display: block;
    width:33.33%;
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner{
    display: block;
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-img{
    display: block;
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-img img{
    display: block;
    width:100%;
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-left-above{
    display: block;
    background-color: #2d2d2d ;
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-left-above h3{
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Cormorant', sans-serif;
    text-transform: uppercase;
    padding:20px 0px;
    padding-top:50px;
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-left-above p{
    display: block;
    color: #ffffff;
    text-align: center;
    font-family: 'Cormorant', sans-serif;
    font-size: 14px;
  line-height: 27px;

}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-left-above .last{
    padding-bottom:55px;
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-left-below{
    display: block;
    position: relative;
    width:100%;
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-left-below .about-sect3-left-img{
    display: block;
    margin-top:24px;
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-left-below .about-sect3-left-img img{
    display: block;
    width:100%;
}


.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-left-below h3{
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Cormorant', sans-serif;
    width:100%;
    text-transform: uppercase;
    text-align: center;
    position:absolute;
    top:15%;
    left:50%;
    transform: translate(-50%,-50%);
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-left-below .about-sect3-schedule{
    display: block;
    width:100%;
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-left-below .about-sect3-schedule .txt{
    display: block;
    width:100%;
    margin-bottom:30px;
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-left-below .about-sect3-schedule .txt .left{
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    text-align: left;
    width:45%;
    padding-left:40px;
}

.about-sect3-outer .container .about-sect3-inner .about-sect3-item-outer .about-sect3-item-inner .about-sect3-left-below .about-sect3-schedule .txt .right{
    display: inline-block;
    color: #ffffff;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-align: right;
    width:45%;
    padding-right:10px;
}