.contact-outer {
    display: block;
    clear: both;
    overflow: hidden;
    margin-bottom: 60px;
}

.contact-outer .container .contact-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-outer .container .contact-inner .contact-left {
    display: block;
    width: 23%;
    border: 1px solid #e1e1e1;
    padding-left: 15px;
    padding-top: 12px;

}

@media(max-width:1199px){
    .contact-outer .container .contact-inner .contact-left{
        padding-right: 15px;
        align-self: flex-start;
        width:22.5%;
    }
}

.contact-outer .container .contact-inner .contact-left .head {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    color: #232323;
    font-weight: 600;
    font-size: 18px;
}

@media(max-width:1199px){
    .contact-outer .container .contact-inner .contact-left .head {
        line-height: 1.1;
        margin-top:3px;
    }
}

.contact-outer .container .contact-inner .contact-left .address {
    display: block;
    margin-top: 12px;
}

.contact-outer .container .contact-inner .contact-left .address li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0px;
}

.contact-outer .container .contact-inner .contact-left .address li .icon {
    display: inline-block;
    width: 22%;
    position: relative;
}

@media(max-width:1199px){
    .contact-outer .container .contact-inner .contact-left .address li .icon{
        width:30%;
    }
}

.contact-outer .container .contact-inner .contact-left .address li .details {
    display: inline-block;
    width: 78%;
}

@media(max-width:1199px){
    .contact-outer .container .contact-inner .contact-left .address li .details{
        width:70%;
    }
}

.contact-outer .container .contact-inner .contact-left .address li .email {
    margin-top: 8px;
}

.contact-outer .container .contact-inner .contact-left .address li .details .title {
    display: block;
    font-family: 'Jost', sans-serif;
    color: #232323;
    font-weight: 400;
    display: block;
    font-size: 14px;

}

.contact-outer .container .contact-inner .contact-left .address li .details .below {
    font-family: 'Jost', sans-serif;
    text-transform: capitalize;
    color: #232323;
    font-weight: 400;
    display: block;
    font-size: 14px;
}

.contact-outer .container .contact-inner .contact-left .address li .details a {
    font-family: 'Jost', sans-serif;
    color: #c0a676;
    font-weight: 400;
    display: block;
    font-size: 14px;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    display: inline-block;
}

.contact-outer .container .contact-inner .contact-left .address li .location::after {
    content: "\f041";
    font-family: 'Font Awesome 7 Free';
    font-weight: 600;
    font-size: 24px;
    color: #7a7a7a;
    position: absolute;
    left: 12%;
    transform: translateY(-261%);
}

.contact-outer .container .contact-inner .contact-left .address li .phone::after {
    content: "\f095";
    font-family: 'Font Awesome 7 Free';
    font-weight: 600;
    font-size: 25px;
    color: #7a7a7a;
    position: absolute;
    left: 3%;
    transform: translateY(-115%);
}

.contact-outer .container .contact-inner .contact-left .address li .mail::after {
    content: "\f0e0";
    font-family: 'Font Awesome 7 Free';
    font-weight: 600;
    font-size: 26px;
    color: #7a7a7a;
    position: absolute;
    left: 7%;
    transform: translateY(-130%);
}

.contact-outer .container .contact-inner .contact-right {
    display: block;
    width: 74.4%;
    border: 1px solid #e1e1e1;
}

@media(max-width:1199px){
    .contact-outer .container .contact-inner .contact-right {
        width:74.2%;
    }
}

.contact-outer .container .contact-inner .contact-right .mains-title {
    display: block;
    text-transform: uppercase;
    color: #232323;
    font-weight: 600;
    font-family: 'Font Awesome 7 Free';
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    margin-top: 33px;
    margin-left: 36px;
}

.contact-outer .container .contact-inner .contact-right ul {
    display: block;
    margin-top: 28px;
}

.contact-outer .container .contact-inner .contact-right ul li {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 16px;
}

.contact-outer .container .contact-inner .contact-right ul li .label-left {
    display: inline-block;
    color: #333333;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 24.5%;
    text-align: right;
    margin-top: 4px;
}

.contact-outer .container .contact-inner .contact-right ul li .label-right {
    display: inline-block;
    width: 73%;
    text-align: left;
    padding-left: 30px;
}

.contact-outer .container .contact-inner .contact-right ul li .atch-file {
    display: flex;
    align-items: center;
}

.contact-outer .container .contact-inner .contact-right ul li .label-right select {
    font-family: 'Jost', sans-serif;
    display: block;
    color: #232323;
    font-size: 15px;
    border: 1px solid #e1e1e1;
    background-color: #f6f6f6;
    font-weight: 400;
    padding: 7px 0px;
    padding-left: 15px;
    padding-right: 237px;
}

@media(max-width:1199px){
    .contact-outer .container .contact-inner .contact-right ul li .label-right select{
        padding-right: 153px;
    }
}

@media(max-width:991px){
    .contact-outer .container .contact-inner .contact-right ul li .label-right select{
        padding-right: 70px;
    }
}

.contact-outer .container .contact-inner .contact-right ul li .label-right select option {
    font-family: 'Jost', sans-serif;
    display: block;
    color: #666666;
    font-size: 15px;
    font-weight: 400;
}

.contact-outer .container .contact-inner .contact-right ul li .label-right .eadd {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    border: 1px solid #e1e1e1;
    outline: none;
    padding: 7px 0px;
    padding-left: 15px;
    padding-right: 173px;
    background-color: #f6f6f6;

}

@media(max-width:1199px){
    .contact-outer .container .contact-inner .contact-right ul li .label-right .eadd{
        padding-right: 86px;
    }
}

@media(max-width:991px){
    .contact-outer .container .contact-inner .contact-right ul li .label-right .eadd{
        padding-right: 5px;
    }
}

.contact-outer .container .contact-inner .contact-right ul li .label-right .attach {
    display: inline-block;
    border: 1px solid #e1e1e1;
    outline: none;
    padding: 19px 0px;
    padding-left: 15px;
    padding-right: 252px;
    background-color: #f6f6f6;
}

@media(max-width:1199px){
    .contact-outer .container .contact-inner .contact-right ul li .label-right .attach{
        padding-right: 166px;
    }
}

@media(max-width:991px){
    .contact-outer .container .contact-inner .contact-right ul li .label-right .attach{
        padding-right: 82px;
    }
}

.contact-outer .container .contact-inner .contact-right ul li .label-right .choose {
    display: inline-block;
    font-family: 'Jost', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background: #333333;
    border: none;
    padding: 10px 16px;
    align-self: center;
}

.contact-outer .container .contact-inner .contact-right ul li .atch-file span {
    display: inline;
    font-size: 13px;
    color: #999999;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    margin-left: 28px;
    margin-bottom: 3px;
}

.contact-outer .container .contact-inner .contact-right ul li .label-right .area {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    border: 1px solid #e1e1e1;
    padding: 5px 0px;
    padding-left: 15px;
    outline: none;
    background-color: #f6f6f6;
    padding-right: 380px;
}

@media(max-width:1199px){
    .contact-outer .container .contact-inner .contact-right ul li .label-right .area{
        padding-right: 250px;
    }
}

@media(max-width:991px){
    .contact-outer .container .contact-inner .contact-right ul li .label-right .area{
        padding-right: 128px;
    }
}

.contact-outer .container .contact-inner .contact-right .snd {
    display: block;
    background-color: #c0a676;
    border:1px solid #c0a676;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-family: 'Jost', sans-serif;
    text-align: center;
    padding:10px 20px;
    float: right;
    margin-right:36px;
    margin-bottom: 27px;
}