.contact-sect1-outer {
    display: block;
    background-image: url('./../images/cof41.webp');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 100% 283%;
    position: relative;
    height: 46vh;
}

.contact-sect1-outer .container .contact-sect1-inner {
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.contact-sect1-outer .container .contact-sect1-inner h2 {
    display: block;
    font-family: 'Cormorant', sans-serif;
    font-size: 50px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* SECTION TWO */

.contact-sect2-outer {
    display: block;
    margin: 80px 0px;
}

.contact-sect2-outer .container .contact-sect2-inner {
    display: flex;
    justify-content: space-between;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-left {
    display: block;
    width: 49%;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-left .contact-sect2-inner {
    display: block;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-left .contact-sect2-inner .contact-sect2-text {
    display: block;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-left .contact-sect2-inner .contact-sect2-text h3 {
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Cormorant', sans-serif;
    color: #2d2d2d;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-left .contact-sect2-inner .contact-sect2-text p {
    display: inline-block;
    color: #7e7e7e;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    line-height: 27px;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-left form {
    display: block;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-left form p {
    display: block;
    margin: 22px 0px;
    color: #7e7e7e;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-left form input {
    display: block;
    outline: none;
    padding: 10px;
    width: 100%;
    box-shadow: none;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-color: #f1f1f1;
    color: #7e7e7e;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-left form textarea {
    display: block;
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-color: #f1f1f1;
    color: #7e7e7e;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-left form .button {
    margin-top: 15px;
    padding: 10px 40px;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-right {
    display: block;
    width: 49%;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-right .maps {
    width: 100%;
    height: 280px;
    border: none;
    display: block;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-right .contact-sect2-right-middle {
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-right .contact-sect2-right-middle .contact-sect2-middle-middle{
    display: block;
    width:48%;
    
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-right .contact-sect2-right-middle .contact-sect2-middle-middle .contacts{
    display: block;
    width: 100%;
    padding:15px 0px;
    border-bottom: 1px solid #eeeded;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-right .contact-sect2-right-middle .contact-sect2-middle-middle .contacts .high{
    display: inline;
    color: #2d2d2d;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    text-align: left;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-right .contact-sect2-right-middle .contact-sect2-middle-middle .contacts .low{
    display: inline;
    font-family: 'Cabin', sans-serif;
    color: #7e7e7e;
    font-size: 14px;
    float: right;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-right .contact-sect2-right-middle .contact-sect2-middle-middle .last{
    border-bottom: none;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-right .contact-sect2-middle-low{
    display: block;
    margin-top: 30px;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-right .contact-sect2-middle-low .ava{
    display: block;
    font-size:14px;
    font-family: 'Cabin', sans-serif;
    color: #7e7e7e;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-sect2-outer .container .contact-sect2-inner .contact-sect2-right .contact-sect2-middle-low .numb{
    display: block;
    font-size: 60px;
    font-family: 'Cormorant', sans-serif;
    color: #2d2d2d;
}