.footer-outer {
    display: block;
}

/* Footer-top */

.footer-outer .footer-top {
    display: block;
    background: #f4f4f4;
    padding: 25px 0px;
    padding-bottom: 23px;
}

@media(max-width:991px) {
    .footer-outer .footer-top {
        padding-bottom: 24px;
        padding-top: 27px;
    }
}

@media(max-width:767px){
    .footer-outer .footer-top {
        padding-bottom:20px;
        padding-top:21px;
    }
}

.footer-outer .footer-top .container .footer-inner {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media(max-width:991px) {
    .footer-outer .footer-top .container .footer-inner {
        display: block;
    }
}

.footer-outer .footer-top .container .footer-inner .footer-top-item {
    display: inline-block;
}

@media(max-width:991px) {
    .footer-outer .footer-top .container .footer-inner .footer-top-item {
        width: 100%;
        text-align: center;
    }
}

@media(max-width:991px) {
    .footer-outer .footer-top .container .footer-inner .txt-item {
        display: flex;
        justify-content: space-between;
        margin-top: 1px;
    }
}

.footer-outer .footer-top .container .footer-inner .footer-top-item .hit-email {
    font-family: 'Jost', sans-serif;
    display: inline-block;
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    margin-right: 88px;

}

@media (max-width:1199px) {
    .footer-outer .footer-top .container .footer-inner .footer-top-item .hit-email {
        margin-right: 25px;
    }
}

@media (max-width:991px) {
    .footer-outer .footer-top .container .footer-inner .footer-top-item .hit-email {
        margin-right: 0px;
    }
}

@media(max-width:479px){
     .footer-outer .footer-top .container .footer-inner .footer-top-item .hit-email{
        font-size: 16px;
     }
}

.footer-outer .footer-top .container .footer-inner .footer-top-item .hit-email::before {
    content: "\f1d9";
    font-family: 'Font Awesome 7 Free';
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
}

.footer-outer .footer-top .container .footer-inner .footer-top-item .in {
    font-family: 'Jost', sans-serif;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    padding: 9px 105px;
    text-align: center;
    border-color: #ffffff;
    background: #ffffff;
    border-left: none;
    border-top: none;
}

@media(max-width:1199px) {
    .footer-outer .footer-top .container .footer-inner .footer-top-item .in {
        padding: 9px 50px;
    }
}

@media(max-width:991px) {
    .footer-outer .footer-top .container .footer-inner .footer-top-item .in {
        padding: 9px 50px;
        width: 74%;
        margin-top: 15px;
    }
}

@media(max-width:767px){
    .footer-outer .footer-top .container .footer-inner .footer-top-item .in{
        width:81.5%;
    }
}

@media(max-width:479px){
    .footer-outer .footer-top .container .footer-inner .footer-top-item .in{
        width:76%;
    }
}

.footer-outer .footer-top .container .footer-inner .footer-top-item .in:focus {
    outline: none;
    box-shadow: inset 0px 0px 10px 0px #969494;
}

.footer-outer .footer-top .container .footer-inner .footer-top-item .main-btn {
    padding: 5px 59px;
    font-size: 20px;
    margin-left: 17px;
}

@media(max-width:991px) {
    .footer-outer .footer-top .container .footer-inner .footer-top-item .main-btn {
        margin-left: 0px;
        align-self: flex-end;
    }
}

@media (max-width:767px) {
    .footer-outer .footer-top .container .footer-inner .footer-top-item .main-btn {
        display: block;
        padding:5px 20px;
    }
}

@media(max-width:479px){
    .footer-outer .footer-top .container .footer-inner .footer-top-item .main-btn{
        padding:5px 5px;
    }
}

/* Footer Middle */

.footer-outer .footer-middle {
    display: block;
    background: #f4f4f4;
    padding: 85px 0px;
    padding-top: 68px;
    border-top: 1px solid #c1c1c3;
}

@media(max-width:991px) {
    .footer-outer .footer-middle {
        padding-top: 67px;
    }
}

@media(max-width:767px) {
    .footer-outer .footer-middle {
        display: none;
    }
}

.footer-outer .footer-middle .container .footer-middle-inner {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item {
    display: inline-block;
    width: 25%;
    padding-left: 8px;
}

.footer-outer .footer-middle .container .footer-middle-inner .third-item {
    padding-left: 15px;
}

.footer-outer .footer-middle .container .footer-middle-inner .fourth-item {
    padding-left: 22px;
}

.footer-outer .footer-middle .container .footer-middle-inner .first-item {
    padding-left: 0px;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .head {
    font-family: 'Jost', sans-serif;
    display: block;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item ul {
    margin-top: 17px;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .address {
    display: inline-block;
    width: 100%;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .address li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .address li .icon {
    display: inline-block;
    width: 10%;
    position: relative;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .address li .location::after {
    content: "\f041";
    font-family: 'Font Awesome 7 Free';
    font-weight: 600;
    font-size: 12px;
    color: #c0a676;
    position: absolute;
    top: 14%;
    left: 16%;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .address li .mail::after {
    content: "\f0e0";
    font-family: 'Font Awesome 7 Free';
    font-weight: 600;
    font-size: 16px;
    color: #c0a676;
    position: absolute;
    top: 30%;
    left: 2%;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .address li .phone::after {
    content: "\f095";
    font-family: 'Font Awesome 7 Free';
    font-weight: 600;
    font-size: 16px;
    color: #c0a676;
    position: absolute;
    top: 30%;
    left: 2%;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .address li .details {
    display: inline-block;
    width: 90%;
    margin-top: 15px;
}

@media(max-width:1199px) {
    .footer-outer .footer-middle .container .footer-middle-inner .footer-item .address li .details {
        margin-left: 5px;
    }
}

@media(max-width:991px) {
    .footer-outer .footer-middle .container .footer-middle-inner .footer-item .address li .details {
        padding-right: 27px;
        margin-left: 12px;
    }
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .address li .details .title {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: block;
    color: #333;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .address li .details .below {
    font-family: 'Jost', sans-serif;
    text-transform: capitalize;
    color: #555;
    font-weight: 500;
    display: block;
    font-size: 15px;
    margin-top: 5px;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .address li .details a {
    font-family: 'Jost', sans-serif;
    color: #555;
    font-weight: 500;
    display: block;
    font-size: 15px;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    display: inline-block;
    margin-top: 4px;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .address li .details a:hover {
    color: #c0a676;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .your {
    font-weight: 700;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .middle-list {
    display: inline-block;
    margin-top: 32px;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .middle-list li {
    display: block;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .middle-list li a {
    font-family: 'Jost', sans-serif;
    display: inline-block;
    color: #555;
    font-weight: 500;
    display: block;
    font-size: 15px;
    margin-bottom: 9px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.footer-outer .footer-middle .container .footer-middle-inner .footer-item .middle-list li a:hover {
    color: #c0a676;
    transform: translateX(10px);
}

/* Hidden Middle */

.footer-outer .hidden-middle {
    display: none;
    background-color: #f4f4f4;
    border-top: 1px solid #c1c1c3;
}

@media(max-width:767px){
    .footer-outer .hidden-middle {
        display: block;
    }
}

.footer-outer .hidden-middle .container ul {
    display: block;
    padding-bottom: 35px;
    padding-top: 30px;
}

.footer-outer .hidden-middle .container ul li {
    display: block;
}

.footer-outer .hidden-middle .container ul .store-info{
    margin-bottom:5px;
}

.footer-outer .hidden-middle .container ul li button {
    display: block;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    padding-top: 10.5px;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    background-color:#f4f4f4;
    border:none;
    text-align: left;
    cursor: pointer;
    position:relative;
}

.footer-outer .hidden-middle .container ul li:hover button {
    color: #c0a676;
}

.footer-outer .hidden-middle .container ul li:hover::after {
    color: #c0a676;
}

.down-arrow::after{
    position:absolute;
     content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0%, -20%);
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.up-arrow::after{
    position:absolute;
     content: "\f106";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0%, -20%);
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.footer-outer .hidden-middle .container ul li .address {
    display: inline-block;
    width: 100%;
    padding-top:0px;
    padding-bottom:0px;
    overflow: hidden;
}

.footer-outer .hidden-middle .container ul li .address li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom:4px;
}

.footer-outer .hidden-middle .container ul li .address li .icon {
    display: inline-block;
    width: 5%;
    position: relative;
}

.footer-outer .hidden-middle .container ul li li .location::after {
    content: "\f041";
    font-family: 'Font Awesome 7 Free';
    font-weight: 600;
    font-size: 12px;
    color: #c0a676;
    position: absolute;
    top: 10%;
    left: 16%;
}

.footer-outer .hidden-middle .container ul li .address li .mail::after {
    content: "\f0e0";
    font-family: 'Font Awesome 7 Free';
    font-weight: 600;
    font-size: 16px;
    color: #c0a676;
    position: absolute;
    top: 20%;
    left: 2%;
}

.footer-outer .hidden-middle .container ul li .address li .phone::after {
    content: "\f095";
    font-family: 'Font Awesome 7 Free';
    font-weight: 600;
    font-size: 16px;
    color: #c0a676;
    position: absolute;
    top: 10%;
    left: 2%;
}

.footer-outer .hidden-middle .container ul li .address li .details {
    display: inline-block;
    width: 90%;
    margin:13px 0px;
}

.footer-outer .hidden-middle .container ul li .address li .mail-details{
    margin-bottom:9px;
}

.footer-outer .hidden-middle .container ul li .address li .ads-details{
    margin-bottom:8px;
}

.footer-outer .hidden-middle .container ul li .address li .details .title {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: block;
    color: #333;
    margin-bottom:4px;
}

.footer-outer .hidden-middle .container ul li .address li .details .below {
    font-family: 'Jost', sans-serif;
    text-transform: capitalize;
    color: #555;
    font-weight: 500;
    display: block;
    font-size: 15px;
}

.footer-outer .hidden-middle .container ul li .address li .details a {
    font-family: 'Jost', sans-serif;
    color: #555;
    font-weight: 500;
    display: block;
    font-size: 15px;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    display: inline-block;
}

.footer-outer .hidden-middle .container ul li .address li .details a:hover {
    color: #c0a676;
}

.footer-outer .hidden-middle .container ul li ul{
    display: block;
    padding:0px;
    padding-top:5px;
    overflow: hidden;
}

.footer-outer .hidden-middle .container ul li ul li{
    display: block;
}

.footer-outer .hidden-middle .container ul li ul li a{
    display: block;
     font-family: 'Jost', sans-serif;
    color: #555;
    font-weight: 500;
    font-size: 15px;
    margin-top:10px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.footer-outer .hidden-middle .container ul li ul li a:hover{
    color:#c0a676;
    transform: translateX(10px);
}



.dont{
    max-height: 0px;
}

.show{
    max-height: 800px;
}




/* Footer Bottom */

.footer-outer .footer-bottom {
    display: block;
    background: #2d2d25;
    padding: 25px 0px;
}

@media(max-width:767px) {
    .footer-outer .footer-bottom {
        padding-top: 30px;
    }
}

.footer-outer .container .footer-bottom-inner {
    display: flex;
    width: 100%;
}

@media(max-width:767px) {
    .footer-outer .container .footer-bottom-inner {
        display: block;
    }
}

.footer-outer .container .footer-bottom-inner .bottom-item {
    display: flex;
    width: 50%;
    align-items: center;
}

@media(max-width:767px) {
    .footer-outer .container .footer-bottom-inner .bottom-item {
        display: block;
        text-align: center;
        width: 100%;
    }
}

.footer-outer .container .footer-bottom-inner .bottom-left {
    display: flex;
    justify-content: end;
}

@media(max-width:767px) {
    .footer-outer .container .footer-bottom-inner .bottom-left {
        display: block;
        margin-top: 13px;
    }
}

.footer-outer .container .footer-bottom-inner .bottom-item .copyright {
    display: inline-block;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.footer-outer .container .footer-bottom-inner .bottom-item .visa::after {
    content: "\f1f0";
    font-family: 'Font Awesome 7 brands';
    font-weight: 600;
    color: #f4f4f4;
    font-size: 31px;
    margin-left: 10px;
}

.footer-outer .container .footer-bottom-inner .bottom-item .paypal::after {
    content: "\f1f4";
    font-family: 'Font Awesome 7 brands';
    font-weight: 600;
    color: #f4f4f4;
    font-size: 31px;
    margin-left: 10px;
}

.footer-outer .container .footer-bottom-inner .bottom-item .mastercard::after {
    content: "\f1f1";
    font-family: 'Font Awesome 7 brands';
    font-weight: 600;
    color: #f4f4f4;
    font-size: 31px;
    margin-left: 10px;
}

.footer-outer .container .footer-bottom-inner .bottom-item .creditcard::after {
    content: "\f09d";
    font-family: 'Font Awesome 7 free';
    font-weight: 600;
    color: #f4f4f4;
    font-size: 31px;
    margin-left: 10px;
}

.footer-outer .container .footer-bottom-inner .bottom-item .amex::after {
    content: "\f1f3";
    font-family: 'Font Awesome 7 brands';
    font-weight: 600;
    color: #f4f4f4;
    font-size: 31px;
    margin-left: 10px;
}