.header-outer {
    display: block;
    clear: both;
}

/* header Top section */

.header-outer .header-top-outer {
    display: block;
    border-bottom: 1px solid #e1e1e1;
}

@media(max-width:767px) {
    .header-outer .header-top-outer {
        display: none;
    }
}

.header-outer .header-top-outer .container .header-top-inner {
    display: flex;
    justify-content: space-between;
    margin: 13px 0px;
}


.header-outer .header-top-outer .container .header-top-inner .header-top-item {
    display: block;
}

.header-outer .header-top-outer .container .header-top-inner .seperate {
    position: relative;
}

.header-outer .header-top-outer .container .header-top-inner .seperate::after {
    display: inline-block;
    content: '';
    height: 12px;
    width: 1px;
    opacity: 0.5;
    background: #888888;
    position: absolute;
    top: 24%;
    left: 58%;
}

.header-outer .header-top-outer .container .header-top-inner .header-top-item a {
    display: inline-block;
    display: inline-block;
    font-family: "Jost", sans-serif;
    color: #444444;
    font-size: 14px;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 0.5s;
}

.header-outer .header-top-outer .container .header-top-inner .header-top-item a:hover {
    color: #000000;
}

.header-outer .header-top-outer .container .header-top-inner .header-top-item a span {
    display: inline;
    display: inline-block;
    font-family: "Jost", sans-serif;
    color: #444444;
    font-size: 14px;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 0.5s;
}

.header-outer .header-top-outer .container .header-top-inner .header-top-item a:hover {
    color: #000000;
}

.header-outer .header-top-outer .container .header-top-inner .header-top-item .lang {
    position: relative;
    font-size: 14px;
}

.header-outer .header-top-outer .container .header-top-inner .header-top-item .lang::after {
    position: absolute;
    display: inline-block;
    content: "\f107";
    font-family: "Font Awesome 7 free";
    font-weight: 600;
    font-size: 10px;
    top: 25%;
    right: -42%;
}

.header-outer .header-top-outer .container .header-top-inner .header-top-item .currency {
    margin-left: 49px;
    position: relative;
}

.header-outer .header-top-outer .container .header-top-inner .header-top-item .currency::after {
    position: absolute;
    display: inline-block;
    content: "\f107";
    font-family: "Font Awesome 7 free";
    font-weight: 600;
    font-size: 10px;
    top: 24%;
    right: -95%;
}

.header-outer>.header-top-outer>.container>.header-top-inner>.header-top-item>.currency>span {
    position: relative;
}

.header-outer>.header-top-outer>.container>.header-top-inner>.header-top-item>.currency>span::after {
    position: absolute;
    display: inline-block;
    content: "\24";
    font-family: "Font Awesome 7 free";
    font-weight: 600;
    margin-left: 5px;
    font-size: 12px;
    top: 15%;
    right: -45%;
}

.header-outer .header-top-outer .container .header-top-inner .header-top-item .currency:hover span {
    color: #000000;
}

.header-outer .header-top-outer .container .header-top-inner .header-top-item a {
    display: inline-block;
    font-family: "Jost", sans-serif;
    color: #444444;
    font-size: 14px;
    text-transform: uppercase;
}

.header-outer .header-top-outer .container .header-top-inner .header-top-item .acc {
    position: relative;
    margin-left: 30px;
}

.header-outer .header-top-outer .container .header-top-inner .header-top-item .acc::before {
    content: '';
    position: absolute;
    top: 25%;
    left: -12%;
    transform: translate(0%, 0%);
    height: 12px;
    width: 1px;
    background: #888888;

}

.header-outer .header-top-outer .container .header-top-inner .header-top-item a {
    font-size: 13px;
    font-family: "Jost", sans-serif;
}

/* header middle section */

.header-outer .header-middle-outer {
    display: block;
    margin: 20px 0px;
    margin-bottom: 18px;
    position: relative;
}

@media(max-width:767px) {
    .header-outer .header-middle-outer {
        margin-top: 13px;
        padding-bottom: 15px;
        margin-bottom: 0px;
        border-bottom: 1px solid #e1e1e1;
    }
}

.header-outer .header-middle-outer .container .header-middle-inner {
    display: flex;
    justify-content: space-between;
}

@media(max-width:767px) {
    .header-outer .header-middle-outer .container {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media(max-width:479px) {
    .header-outer .header-middle-outer .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media(max-width:767px) {
    .header-outer .header-middle-outer .container .header-middle-inner {
        align-items: center;
    }
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:639px) {
    .header-outer .header-middle-outer .container .header-middle-inner .header-middle-item {
        padding: 3px 0px;
    }
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .menu-bars {
    display: none;
    margin-left: 4px;
    margin-right: 21px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media(max-width:767px) {
    .header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .menu-bars {
        display: inline-block;
    }
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .menu-bars::after {
    content: '\f0c9';
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    font-size: 18px;
    transition-property: color;
    transition-duration: 0.5s;
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .menu-bars:hover::after {
    color: #c0a676;
}

.header-outer .header-middle-outer .container .header-middle-inner .side-toggle {
    display: none;
}

@media(max-width:767px) {
    .header-outer .header-middle-outer .container .header-middle-inner .side-toggle {
        display: inline-block;
    }
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .rocket-outer {
    display: flex;
    margin-right: 30px;
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .rocket-outer span {
    align-content: center;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    font-family: "Jost", sans-serif;
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item a .middle-item-image {
    display: inline-block;
    background: #f7f6f4;
    padding: 10px;
    margin-right: 15px;
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item a .header-logo {
    padding: 0px;
    background-color: #ffff;
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item a .middle-item-image img {
    width: 100%;
    display: inline-block;
}

@media(max-width:639px) {
    .header-outer .header-middle-outer .container .header-middle-inner .header-middle-item a .middle-item-image img {
        width: 78%;
    }
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .call-item {
    margin-right: 33px;

}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .middle-item a {
    display: inline-block;
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .call-item a {
    display: flex;
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .call-item a span {
    align-content: center;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    font-family: "Jost", sans-serif;
}


.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .middle-item a img {
    width: 100%;
    display: inline-block;
}

@media(max-width:991px) {
    .header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .rocket-outer {
        display: none;
    }

    .header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .call-item {
        display: none;
    }
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .middle-item a span {
    display: inline-block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    font-family: "Jost", sans-serif;
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .middle-item a .cart::before {
    content: '\f290';
    font-family: 'Font Awesome 7 Free';
    font-weight: 600;
    font-size: 17px;
    background: #2d2d25;
    padding: 17px;
    color: #ffff;
    display: inline-block;
    margin-right: 10px;
    transition-property: color;
    transition-duration: 0.5s;
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .middle-item a .cart:hover::before {
    color: #c0a676;
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .middle-item a .cart {
    padding-right: 10px;
    background-color: #f7f6f4;
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .cart-item {
    position: relative;
}

@media(max-width:767px) {
    .header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .cart-item {
        display: none;
    }
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .cart-item:hover p {
    display: inline-block;
}

.header-outer .header-middle-outer .container .header-middle-inner .header-middle-item .cart-item p {
    display: none;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    background: #fff;
    border: 1px solid #e1e1e1;
    z-index: 999;
    position: absolute;
    top: 138%;
    right: 0%;
    width: 320px;
    padding: 15px 25px;
    padding-bottom: 13px;
}

/* Hidden Middle */

.hidden {
    display: none;
    /* border-top: 1px solid #e1e1e1; */
    /* padding-top: 15px; */
    margin-bottom: 10px;
}

@media(max-width:991px) {
    .hidden {
        display: block;
        margin-bottom: 14px;
    }
}

@media(max-width:767px) {
    .hidden {
        display: none;
    }
}

.hidden .container .hidden-inner {
    display: flex;
    justify-content: center;
    border-top: 1px solid #e1e1e1;
    padding-top: 12px;
}

.hidden .container .hidden-inner .rocket-outer {
    display: flex;
    margin-right: 30px;
}

.hidden .container .hidden-inner .rocket-outer span {
    align-content: center;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    font-family: "Jost", sans-serif;
}

.hidden .container .hidden-inner a .middle-item-image {
    display: inline-block;
    background: #f7f6f4;
    padding: 10px;
    margin-right: 15px;
}

.hidden .container .hidden-inner a .middle-item-image img {
    width: 100%;
    display: inline-block;
}

.hidden .container .hidden-inner .middle-item a {
    display: inline-block;
}

.hidden .container .hidden-inner .call-item a {
    display: flex;
}

.hidden .container .hidden-inner .call-item a span {
    align-content: center;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    font-family: "Jost", sans-serif;
}


.hidden .container .hidden-inner .middle-item a img {
    width: 100%;
    display: inline-block;
}

/* Side Toggle */
.header-outer .header-middle-outer .container .header-middle-inner .side-toggle .side-toggle-inner {
    display: flex;
    /* align-content: center; */
    align-items: center;
}

.header-outer .header-middle-outer .container .header-middle-inner .side-toggle .side-toggle-inner a {
    display: inline-block;
    font-size: 14px;
}

.header-outer .header-middle-outer .container .header-middle-inner .side-toggle .side-toggle-inner .search-a::after {
    display: inline-block;
    content: "\f002";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    color: #ffff;
    padding: 12px;
    background: #3d3b2f;
    transition-property: color;
    transition-duration: 0.5s;
    border-radius: 50%;
    margin-right: 5px;
}

.header-outer .header-middle-outer .container .header-middle-inner .side-toggle .side-toggle-inner .logout::after {
    content: "\f08b";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    color: #ffff;
    padding: 13px;
    background: #3d3b2f;
    transition-property: color;
    transition-duration: 0.5s;
    border-radius: 50%;
    margin-right: 5px;
}

.header-outer .header-middle-outer .container .header-middle-inner .side-toggle .side-toggle-inner .addAcc::after {
    content: "\f234";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    color: #ffff;
    padding: 13px;
    background: #3d3b2f;
    transition-property: color;
    transition-duration: 0.5s;
    border-radius: 50%;
    margin-right: 5px;
}

.header-outer .header-middle-outer .container .header-middle-inner .side-toggle .side-toggle-inner .cart::after {
    content: '\f290';
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    color: #ffff;
    padding: 13px;
    background: #3d3b2f;
    transition-property: color;
    transition-duration: 0.5s;
    border-radius: 50%;
}

.header-outer .header-middle-outer .container .header-middle-inner .side-toggle .side-toggle-inner a:hover::after {
    color: #c0a676;
}

/* HIDDEN MIDDLE */

.header-outer .header-middle-outer .hidden-dropdown {
    display: block;
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 3;
    left: 0%;
    top: 101%;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul {
    display: block;
    margin-top: 15px;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul li {
    display: block;
    position: relative;
    border-bottom: 1px solid #f6f6f6;
    width: 100%;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul li .first-li {
    padding-top: 9px;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul li a {
    display: block;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #232323;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    transition-property: color;
    transition-duration: 0.5s;
    width: 100%;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul li button {
    display: inline-block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    width: 5%;
    /* padding-left: 100%; */
}

.header-outer .header-middle-outer .hidden-dropdown .container ul li a:hover {
    color: #c0a676;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul li a:hover~button {
    color: #c0a676;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul li .arrow::after {
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: 35%;
    right: 3%;
    transform: translateX(20%);
    transition-property: color;
    transition-duration: 0.5s;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul li .sub-sect {
    display: block;
    margin-top: 0px;
    border-top: 1px solid #f6f6f6;
    overflow: hidden;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul li ul li {
    display: block;
    border-bottom: 1px solid #f6f6f6;
    position: relative;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul li ul li a {
    display: block;
    font-family: 'Jost', sans-serif;
    color: #333;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 9px;
    padding-bottom: 8px;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul li ul li .subdown-arrow {
    display: block;

}

.header-outer .header-middle-outer .hidden-dropdown .container ul li ul li .subdown-arrow::after {
    display: block;
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: 35%;
    right: 6%;
    transform: translateX(20%);
    transition-property: color;
    transition-duration: 0.5s;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul .btn {
    margin-top: 8px;
    border: 1px solid #e1e1e1;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul .btn-low {
    margin-top: 0px;
}

.header-outer .header-middle-outer .hidden-dropdown .container ul .btn a {
    border-bottom: none;
    font-family: 'Jost', sans-serif;
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    background: #f6f6f6;
    margin: 8px;
}


.down-arrow::after {
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: 43% !important;
    right: 2.5% !important;
    transform: translateX(20%);
    transition-property: color;
    transition-duration: 0.5s;
}

.up-arrow::after {
    content: "\f106";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: 9% !important;
    right: 2.5% !important;
    transform: translateX(20%);
    transition-property: color;
    transition-duration: 0.5s;
}

.up-arrow2::after {
    content: "\f106";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: 15% !important;
    right: 2.5% !important;
    transform: translateX(20%);
    transition-property: color;
    transition-duration: 0.5s;
}

.off {
    max-height: 0px;
}

.on {
    max-height: 800px;
}


/* header bottom  */

.header-outer .header-bottom-outer {
    display: block;
    background: #2d2d25;
}

@media(max-width:767px) {
    .header-outer .header-bottom-outer {
        background-color: transparent;
    }
}

.header-outer .header-bottom-outer .container .header-bottom-inner {
    display: flex;
    justify-content: space-between;
}

@media(max-width:767px) {
    .header-outer .header-bottom-outer .container .header-bottom-inner {
        justify-content: flex-end;
    }
}

.header-outer .header-bottom-outer .container .header-bottom-inner ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

@media(max-width:767px) {
    .header-outer .header-bottom-outer .container .header-bottom-inner ul {
        display: none;
    }
}

.header-outer .header-bottom-outer .container .header-bottom-inner ul li {
    display: inline-block;
    margin-right: 5px;
    position: relative;
}

.header-outer .header-bottom-outer .container .header-bottom-inner ul li a {
    display: inline-block;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 24px;
    transition-property: color;
    transition-duration: 0.5s;
    transition-property: color;
    transition-duration: 0.5s;
}

@media(max-width:991px) {
    .header-outer .header-bottom-outer .container .header-bottom-inner ul li a {
        padding-right: 10px;
    }
}

.header-outer .header-bottom-outer .container .header-bottom-inner ul li a:hover {
    color: #c0a676;
}

.header-outer .header-bottom-outer .container .header-bottom-inner ul li .first-drop {
    padding-left: 0px;
}

.header-outer .header-bottom-outer .container .header-bottom-inner ul li .arrow {
    position: relative;
}

.header-outer .header-bottom-outer .container .header-bottom-inner ul li .arrow::after {
    display: inline-block;
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-118%, -50%);
    transition-property: color;
    transition-duration: 0.5s;
}

@media(max-width:991px) {
    .header-outer .header-bottom-outer .container .header-bottom-inner ul li .arrow::after {
        transform: translate(80%, -50%);
    }
}

.header-outer .header-bottom-outer .container .header-bottom-inner ul li .arrow:hover::after {
    content: '\f106';
    color: #c0a676;
}

.header-outer .header-bottom-outer .container .header-bottom-inner ul li:hover .arrow::after {
    content: '\f106';
}

.header-outer .header-bottom-outer .container .header-bottom-inner .header-search {
    display: flex;
    align-items: center;
}

@media(max-width:767px) {
    .header-outer .header-bottom-outer .container .header-bottom-inner .header-search {
        display: none;
    }
}

.header-outer .header-bottom-outer .container .header-bottom-inner .header-search .search-a::after {
    display: inline-block;
    content: "\f002";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    color: #ffff;
    font-size: 17px;
    padding: 18px;
    background: #3d3b2f;
    transition-property: color;
    transition-duration: 0.5s;
}

@media(max-width:767px) {
    .header-outer .header-bottom-outer .container .header-bottom-inner .header-search .search-a::after {
        border-radius: 50%;
        font-size: 15px;
        padding: 13px;
        margin-right: 70px;
    }
}

.header-outer .header-bottom-outer .container .header-bottom-inner .header-search .search-a:hover::after {
    color: #c0a676;
}

.header-outer>.header-bottom-outer>.container>.header-bottom-inner>ul>li>.drop-down {
    display: none;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    position: absolute;
    top: 100%;
    left: 0%;
}

.header-outer .header-bottom-outer .container .header-bottom-inner ul li:hover .drop-down {
    display: flex;
    z-index: 10;
}


.header-outer>.header-bottom-outer>.container>.header-bottom-inner>ul>li>.drop-down>ul {
    display: inline-block;
    margin-right: 5px;
    padding-bottom: 28px;
}

.header-outer>.header-bottom-outer>.container>.header-bottom-inner>ul>li>.drop-down>ul:hover .high {
    color: #c0a676;
}

.header-outer>.header-bottom-outer>.container>.header-bottom-inner>ul>li>.drop-down>ul>li {
    display: block;
}

.header-outer>.header-bottom-outer>.container>.header-bottom-inner>ul>li>.drop-down>ul>li:hover a {
    color: #c0a676;
}

.header-outer>.header-bottom-outer>.container>.header-bottom-inner>ul>li>.drop-down>ul>li>a {
    display: inline-block;
    font-family: 'Jost', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    color: #656565;
    white-space: nowrap;
    padding: 0px;
    padding-top: 16px;
    padding-left: 19px;
    padding-right: 75px;
}

.header-outer>.header-bottom-outer>.container>.header-bottom-inner>ul>li>.drop-down>.rd-padding>li>a {
    padding-right: 52px;
}

.header-outer>.header-bottom-outer>.container>.header-bottom-inner>ul>li>.drop-down>.rd-padding-elec>li>a {
    padding-right: 84px;
}

.header-outer>.header-bottom-outer>.container>.header-bottom-inner>ul>li>.drop-down>.rd-padding-sports>li>a {
    padding-right: 95px;
}

.header-outer>.header-bottom-outer>.container>.header-bottom-inner>ul>li>.drop-down>ul>li>.high {
    display: inline-block;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    padding-top: 22px;
    padding-left: 19px;
}

.fixed-header {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 29;
}

.scroll-hide {
    display: none !important;
}

.first-sec {
    margin-top: 200px;
}

.hide-hidden {
    display: none;
}