@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Kristi&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* HEADER */
@import url('header.css');
/* Home */
@import url('home.css');
/* FOOTER */
@import url('footer.css');
/* LEFT CSS */
@import url('leftPart.css');
/* RIGHT CSS */
@import url('rightPart.css');
/* SHOP */
@import url('shop.css');
/* CONTACT */
@import url('contact.css');


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-size: 0px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}

@media(max-width:1199px) {
    .container {
        max-width: 992px;
        padding: 0 26px;
    }
}

@media(max-width:991px) {
    .container {
        max-width: 768px;
        padding: 0 24px;
    }
}

@media(max-width:767px) {
    .container {
        max-width: 640px;
    }
}

@media(max-width:639px) {
    .container {
        max-width: 480px;
    }
}

@media(max-width:479px) {
    .container {
        max-width: 370px;
        padding: 0px 20px;
    }
}

/* Button */

.main-btn {
    font-family: 'Jost', sans-serif;
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #c0a676;
    border: 1px solid #c0a676;
    display: inline-block;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.main-btn:hover {
    background-color: black;
}

/* Title */

.main-title {
    display: block;
    width: 100%;
    margin: 67px 0px;
    margin-bottom: 50px;
    text-align: center;
}

.main-title .container span {
    font-family: 'Jost', sans-serif;
    color: #2d2d25;
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
}

@media(max-width:991px) {
    .main-title .container span {
        font-size: 30px;
    }
}

.main-title .container span::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-107%, -50%);
    background-image: linear-gradient(to left, #c0a676, #babdc2);
}

@media(max-width:767px) {
    .main-title .container span::before {
        width: 72%;
    }
}

@media(max-width:639px) {
    .main-title .container span::before {
        display: none;
    }
}

.main-title .container span::after {
    content: '';
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, #c0a676, #babdc2);
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(106%, -50%);
}

@media(max-width:767px) {
    .main-title .container span::after {
        width: 72%;
    }
}

@media(max-width:639px) {
    .main-title .container span::after {
        display: none;
    }
}

.fourth-title {
    margin-top: 70px;
}

.seventh-title {
    margin-top: 40px;
}

.wats {
    display: inline-block;
    position: fixed;
    bottom: 35px;
    right: 25px;
}

.wats::after {
    content: '\f232';
    font-family: "Font Awesome 7 brands";
    color: #fff;
    background: #13990a;
    border-radius: 50%;
    padding: 8px;
    font-weight: 600;
    font-size: 35px;
    z-index: 55;
}