* {
    box-sizing: border-box;
}

/* Product section one */
.product-sect1-outer {
    display: block;
    position: relative;
    background-image: url('./../images/cof19.webp');
    background-size: cover;
    background-size: 100% 300%;
    background-position: 100% 50%;
    height: 46vh;
}

.product-sect1-outer .product-sect1-inner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
}

.product-sect1-outer .product-sect1-inner h3 {
    display: block;
    font-size: 50px;
    font-family: 'Cormorant', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

/* Product section 2 */

.product-sect2-outer {
    display: block;
    margin-top: 65px;
}

.product-sect2-outer .container .product-sect2-inner {
    display: flex;
    justify-content: space-between;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left {
    display: block;
    width: 68%;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner {
    display: block;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner {
    display: block;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner h4 {
    display: block;
    color: #7e7e7e;
    letter-spacing: 2px;
    font-family: 'Cormorant', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner h3 {
    display: block;
    font-size: 50px;
    font-family: 'Cormorant', sans-serif;
    color: #2d2d2d;
    font-weight: normal;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner p {
    display: inline-block;
    color: #7e7e7e;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 27px;
    margin-top: 20px;
    padding-right: 5px;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner p u {
    display: inline-block;
    text-decoration: underline;
    color: #7e7e7e;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner .product-item-left-img {
    display: block;
    position: relative;
    margin-top: 10px;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner .product-item-left-img .left-img-outer {
    display: block;
    padding: 30px;
    padding-left: 0px;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner .product-item-left-img .img-inner {
    display: block;
    position: absolute;
    top: 15%;
    left: 4%;
    transform: translate(0%, 0%);
    width: 6.5%;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner .product-item-left-img .img-inner img {
    display: block;
    width: 100%;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner .product-item-left-img .left-img-outer img {
    width: 100%;
    display: block;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner .product-item-left-img .reser {
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Cormorant', sans-serif;
    text-transform: capitalize;
    position: absolute;
    top: 14%;
    left: 13%;
    transform: translate(0%, 0%);
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner .product-item-left-img .past {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
    position: absolute;
    top: 33%;
    left: 13%;
    transform: translate(0%, 0%);
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner .product-item-left-img .reser .birth {
    display: inline;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Cormorant', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-left .product-item-inner .product-item-left-img .button {
    display: block;
    font-family: 'Cormorant', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 37%;
    right: 8%;
    transform: translate(0%, 0%);
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 2px;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-right {
    display: block;
    width: 32%;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-right .product-sect2-item {
    display: block;
    position: relative;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-right .product-sect2-item .product-img-outer {
    display: block;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-right .product-sect2-item .product-img-outer img {
    display: block;
    width: 100%;
    height: 59vh;
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-right .product-sect2-item h3 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Cormorant', sans-serif;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-right .product-sect2-item .first {
    display: block;
    color: #ffffff;
    text-align: center;
    font-family: 'Cormorant', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-right .product-sect2-item .second {
    display: block;
    color: #ffffff;
    text-align: center;
    font-family: 'Cormorant', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-sect2-outer .container .product-sect2-inner .product-sect2-right .product-sect2-item .third {
    display: block;
    color: #ffffff;
    text-align: center;
    font-family: 'Cormorant', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Product Third Section */

.product-sect3-outer {
    display: block;
    margin-top:25px;
    margin-bottom:40px;
}

.product-sect3-outer .product-sect3-inner {
    display: block;
    padding: 0 15px;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer {
    display: flex;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items {
    display: block;
    width: 20%;
    padding: 15px;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .product-sect3-items-inner {
    display: block;
    position: relative;
    background-position: 100% 100%;
    background-size: 100% 100%;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .img1 {
    background-image: url('./../images/cof45.webp');
    width: 270px;
    height: 390px;
    background-position: 50% 100%;
    background-size: 145% 100%;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .img2 {
    background-image: url('./../images/cof46.webp');
    width: 270px;
    height: 390px;
    background-position: 50% 100%;
    background-size: 145% 100%;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .img3 {
    background-image: url('./../images/cof47.webp');
    width: 270px;
    height: 390px;
    background-position: 50% 100%;
    background-size: 145% 100%;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .img4 {
    background-image: url('./../images/cof48.webp');
    width: 270px;
    height: 390px;
    background-position: 50% 100%;
    background-size: 145% 100%;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .img5 {
    background-image: url('./../images/cof49.webp');
    width: 270px;
    height: 390px;
    background-position: 50% 100%;
    background-size: 145% 100%;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .img6 {
    background-image: url('./../images/cof50.webp');
    width: 270px;
    height: 390px;
    background-position: 50% 100%;
    background-size: 145% 100%;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .img7 {
    background-image: url('./../images/cof51.webp');
    width: 270px;
    height: 390px;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .img8 {
    background-image: url('./../images/cof52.webp');
    width: 270px;
    height: 390px;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .img9 {
    background-image: url('./../images/cof53.webp');
    width: 270px;
    height: 390px;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .img10 {
    background-image: url('./../images/cof54.webp');
    width: 270px;
    height: 390px;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .product-sect3-items-inner .product-sect3-main-img .height-img {
    height: 60vh;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .product-sect3-items-inner .tag {
    display: block;
    font-family: 'Cabin', sans-serif;
    background-color: #2d2d2d;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    padding: 3px 10px;
    padding-top: 5px;
    position: absolute;
    top: 8%;
    right: 10%;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .product-sect3-items-inner .name {
    display: block;
    font-family: 'Cabin', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    position: absolute;
    bottom: 9%;
    left: 10%;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .product-sect3-items-inner .plus {
    display: block;
    position: absolute;
    bottom: 7%;
    right: 9%;
}

.product-sect3-outer .product-sect3-inner .product-sect3-items-outer .product-sect3-items .product-sect3-items-inner .plus .plus-icon {
    display: block;
    color: #fff;
    background-color: #c19b77;
    font-size: 27px;
    display: inline-block;
    z-index: 2;
}