.shopfirst-outer{
    display: block;
    clear: both;
    overflow: hidden;
    margin:25px 0px;
    margin-bottom:22px;
}

@media(max-width:767px){
    .shopfirst-outer{
        margin:10px 0px;
    }
}

.shopfirst-outer .container .shopfirst-inner{
    display: block;
    width:100%;
}

.shopfirst-outer .container .shopfirst-inner .shopfirst-item{
    display: inline-block;
}

@media(max-width:767px){
    .shopfirst-outer .container .shopfirst-inner .shopfirst-item{
        display: none;
    }
}

.shopfirst-outer .container .shopfirst-inner .mains-title{
    display: none;
    width:100%;
}

@media(max-width:767px){
    .shopfirst-outer .container .shopfirst-inner .mains-title{
        display: block;
    }
}

.shopfirst-outer .container .shopfirst-inner .mains-title p{
      color: #333333;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    text-align: center;
}

.shopfirst-outer .container .shopfirst-inner .shopfirst-item a{
    display: block; 
    font-family: 'Jost', sans-serif;
    color: #232323;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    word-spacing: 5px;
    margin-right: 10px;
}

.shop-main{
    display: block;
}

.shop-main .container .shop-inner{
    display: flex;
    justify-content: space-between;
    width:100%;
}