@import url("./home.css");  /*Home section*/
@import url("./shop.css");   /*Shop section*/
@import url("./contact.css");   /*contact section*/
@import url("./product.css");  /*Product section*/
@import url("./loader.css"); /*Loader*/
@import url("./about.css");  /*About*/